---
import gleam/string
props(variant: String, href: String)
---

<button
  l-if="string.is_empty(href)"
  :class="[
    'flex items-center justify-center py-2.5 px-4 font-medium rounded-lg cursor-pointer transition-colors bg-foreground hover:bg-foreground/90 text-background focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2',
    case variant {
      'secondary' -> 'bg-secondary text-secondary-foreground hover:bg-secondary-hover'
      'danger' -> 'bg-destructive text-destructive-foreground hover:bg-destructive-background-hover focus:ring-destructive-ring'
      _ -> ''
    },
  ]"
>
  <slot />
</button>

<a
  l-else
  :href="href"
  :class="[
    'flex items-center justify-center py-2.5 px-4 font-medium rounded-lg cursor-pointer transition-colors bg-foreground hover:bg-foreground/90 text-background focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2',
    case variant {
      'secondary' -> 'bg-secondary text-secondary-foreground hover:bg-secondary-hover'
      'danger' -> 'bg-destructive text-destructive-foreground hover:bg-destructive-background-hover focus:ring-destructive-ring'
      _ -> ''
    },
  ]"
>
  <slot />
</a>
