<svg
  width="auto"
  height="auto"
  viewBox="0 0 1480 1389"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xml:space="preserve"
  xmlns:serif="http://www.serif.com/"
  style="
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
  "
>
  <g>
    <g>
      <path
        d="M1157.84,1388.78l-668.356,-0l417.921,-572.436l250.435,572.436Z"
      />
      <g>
        <g>
          <rect x="0" y="0" width="503.073" height="1388.78" />
          <path
            d="M1479.84,412.006l-0,-412.006l-1479.84,0l0,412.006l1479.84,-0Z"
          />
          <path
            d="M1479.84,1388.78l-0,-572.436l-572.436,-0l-0,572.436l572.436,-0Z"
          />
        </g>
      </g>
    </g>
  </g>
</svg>
