/*
 * App Stylesheet
 *
 * This is the main CSS entry point for your application.
 * Tailwind is imported below — add your own custom styles,
 * @theme overrides, and @source directives after it.
 */

@import "tailwindcss";

@layer base {
  body {
    font-size: 15px;
    color: theme(--color-mist-600);
  }
}

@theme {
  --font-sans: "Barlow", sans-serif;
  --text-base: 15px;
}
