APP_NAME="racklog"
APP_ENV=local
APP_PORT=8000
DEV_PROXY_PORT=8001
APP_URL=http://localhost:8000
APP_DEBUG=true
APP_KEY=your-secret-key-base
SECRET_KEY_BASE=test-secret-key

# DB_URL=
# DB_HOST=127.0.0.1
# DB_PORT=3306
DB_DATABASE=src/database/main/data.db
# DB_USERNAME=root
# DB_PASSWORD=
DB_POOL_SIZE=15
