<x-layouts:app>
  <slot name="meta_title">Glimr ✨</slot>

  <div
    class="flex flex-col items-center justify-center min-h-screen bg-mist-50"
  >
    <div class="w-full max-w-md p-8 bg-white rounded-xl shadow-md text-center">
      <div class="flex justify-center">
        <x-logo width="25" class="mb-3 fill-mist-200" />
      </div>

      <div class="text-[19px] font-semibold text-mist-700 leading-tight mb-3">
        Welcome to Glimr
      </div>

      <div class="mb-6 text-[16px] text-mist-400 leading-snug">
        Build scalable web applications that LLM's can understand, and you can
        trust.
      </div>

      <div class="flex items-center justify-center gap-3">
        <x-button
          target="_blank"
          href="https://github.com/glimr-org/glimr?tab=readme-ov-file#glimr-"
          class="flex justify-center gap-1.5 items-center text-[14.5px]"
        >
          <x-icons:reader
            width="14"
            class="text-mist-400 relative top-[.5px]"
          />
          <span>Documentation</span>
        </x-button>

        <x-button
          variant="secondary"
          href="https://gleam.run"
          target="_blank"
          class="flex justify-center gap-1.5 items-center text-[14.5px]"
        >
          <x-icons:star width="15" class="text-mist-400 relative top-[.5px]" />
          <span>Learn Gleam</span>
        </x-button>
      </div>
    </div>
  </div>
</x-layouts:app>
