---
import glimr/vite
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg" />
    {{{ vite.tags("src/resources/ts/app.ts") }}}
    <slot name="head" />
    <title><slot name="meta_title" /></title>
  </head>
  <body class="antialiased">
    <header
      class="bg-card border-border z-10 flex h-16 w-full items-center justify-center border-b shadow-md backdrop-blur-sm"
    >
      <div class="container flex items-center justify-between">
        <nav aria-label="Primary" class="flex items-center gap-4">
          <a href="/" class="text-foreground text-2xl font-bold mr-4"
            >racklog</a
          >
          <a href="/input">Input</a>
          <a href="/workouts">Workouts</a>
          <a href="/exercises">Exercises</a>
        </nav>
        <nav aria-label="Account" class="items-center gap-4 flex">
          <x-link href="/login">Log in</x-link>
          <x-button href="/register">Register</x-button>
        </nav>
      </div>
    </header>
    <main class="flex justify-center items-center">
      <slot />
    </main>
    <footer l-if="slot.footer">
      <slot name="footer" />
    </footer>
    <slot name="footer_scripts" />
  </body>
</html>
